#
# QCA IPQ Network accelerator device configuration
#
config IPQ_NSS
	tristate "Qualcomm Atheros Networking Accelerator Support"
	depends on ARCH_IPQ806X
	---help---
	  This driver supports Qualcomm Atheros Networking Accelerator
	  (applicable to IPQ series chips only)

if IPQ_NSS

config NSS_MAX_CORES
	int "Maximum number of NSS cores"
	default 2 if ARCH_IPQ806X
	---help---
	  Maximum number of NSS cores supported on this platform

config NSS_MAX_INT_PER_NSS_CORE
	int "Maximum number of interrupts per NSS core"
	default 2 if ARCH_IPQ806X
	---help---
	  Maximum number of interrupts supported per NSS core on this platform

config NSS_MAX_PHYSICAL_INTERFACES
	int "Maximum number of physical interfaces"
	default 4 if ARCH_IPQ806X
	---help---
	  Maximum number of physical interfaces supported on this platform

config NSS_MAX_VIRTUAL_INTERFACES
	int "Maximum number of virtual interfaces"
	default 4 if ARCH_IPQ806X
	depends on IPQ_NSS
	---help---
	  Maximum number of virtual interfaces supported on this platform

config NSS_DEBUG_LEVEL
	int "Debug level for NSS driver"
	default 0
	---help---
	  Select between 0 and 4 (0: none, 1: assert, 2: warning, 3: info, 4: trace)

endif #IPQ_NSS
